*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

body {
  font-family: var(--font-family-base);
}

ul {
  padding: 0;
  list-style: none;
}

button,
input {
  font: inherit;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
}

img {
  display: block;
  max-width: 100%;
}
